@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto&display=swap');

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


#container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    color: #fff;
    margin: 0;
    font-size: 40px; /* Đã giảm kích thước h1 xuống 80px */
    font-family: 'Roboto', sans-serif, cursive;
}

#container h2 {
    color: #e1ebf5; /* Màu chữ */
    margin: 10px 0; /* Khoảng cách với phần trên và dưới */
    font-size: 20px; /* Kích thước font chữ */
    font-family: 'Roboto', sans-serif, cursive;
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url(snow.png);
    background-size: cover;
    animation: animationSnow 4s ease-in-out infinite;
}

@keyframes animationSnow {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(100px, 50vh);
    }
}

h2, p {
    color: #fff;
    text-align: center;
    font-family: 'Snowburst One', cursive;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-top: 20px; /* Đã thêm khoảng cách giữa p và ul */
}

ul li {
    margin: 10px 0;
}

a {
    color: #fff;
    text-decoration: none;
    font-family: 'Snowburst One', cursive;
    font-size: 20px; /* Đã tăng kích thước font chữ của a lên 20px */
}

a:hover {
    color: #45a049;
}
ul li button {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Trắng với độ trong suốt */
    border: 1px solid rgba(255, 255, 255, 1); /* Viền trắng với độ trong suốt */
    color: #333333;
    cursor: pointer;
    font-family: 'Snowburst One', cursive;
    font-size: 15px;
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Hiệu ứng màu khi hover */
}

ul li button:hover {
    background-color: rgba(255, 255, 255, 0.8); /* Màu trắng khi hover */
    border-color: rgba(255, 255, 255, 1); /* Viền trắng khi hover */
    color: #007BFF; /* Đổi màu chữ khi hover nếu bạn muốn */
}
