<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Grade</title>
</head>
<body>
<h1>Add Grade</h1>
<form method="POST" action="{{ url_for('user_grade') }}">
    <label for="restaurant_id">Restaurant ID:</label>
    <input type="text" id="restaurant_id" name="restaurant_id" value="{{ default_restaurant_id }}" required><br><br>

    <label for="score">Score:</label>
    <input type="number" id="score" name="score" min="1" max="10" required><br><br>

    <label for="grade">Grade:</label>
    <input type="text" id="grade" name="grade" required><br><br>

    <!-- Hiển thị username -->
    <input type="hidden" id="username" name="username" value="{{ session['username'] }}">

    <button type="submit">Submit</button>
</form>
</body>
</html>