<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="static/css/login.css" rel="stylesheet">
    <style>
        form {
            height: 700px;
            width: 400px;
            background-color: rgba(255, 255, 255, 0.13);
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }
    </style>
</head>
<body>
<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>
<form method="POST">
    {{ form.hidden_tag() }}
    <h3>Đăng ký</h3>
    <label for="username">Tên đăng nhập</label>
    <input type="text" placeholder="Tên đăng nhập" id="username" name="username" size=32>
    <label for="email">Email</label>
    <input type="text" placeholder="Email" id="email" name="email" size=32>
    <label for="password">Mật khẩu</label>
    <input type="password" placeholder="Mật khẩu" id="password" name="password" size=32>
    <label for="confirm_password">Xác nhận mật khẩu</label>
    <input type="password" placeholder="Xác nhận mật khẩu" id="confirm_password" name="confirm_password" size=32>
    <button>Đăng ký</button>
</form>

</body>
</html>
